# MongoDB Cluster Config
# Please replace the following values with your actual MongoDB cluster credentials and connection string.
Username=db_user
Password=db_password

# Frontend Config
NEXTAUTH_SECRET=64_character_random_string_for_nextauth
## You may run following command to generate a random string: 
## PowerShell: 
## [Convert]::ToBase64String([System.Security.Cryptography.RandomNumberGenerator]::GetBytes(64))
NEXTAUTH_URL=your_vercel_frontend_url
# User Accounts (at least USER1 must be complete)
NEXTAUTH_USER1_EMAIL=one_valid_email
# Passwords can be plaintext or bcrypt hashed (starting with $2b)
NEXTAUTH_USER1_PASSWORD=your_user1_password
NEXTAUTH_USER1_NAME=user1_name
# Use Telegram Bot Username without "@" mark
NEXT_PUBLIC_BOT_USERNAME=telegram_bot_username
NEXT_PUBLIC_API_URL=your_railway_backend_url

# Backend Config
## Multiple User can be added with seperating comma(,)
## Get your user_id by forwarding a message to @ultimategroupmanagerbot or 
AUTH_USERS=telegram_user_id
## Get your bot token from @BotFather after creating a new bot
BOT_TOKEN=bot_token_from_botfather
FRONTEND_URL=your_vercel_frontend_url
JWT_SECRET=32_character_random_string_for_JWT_signing
## You may run following command to generate a random string: 
## PowerShell: 
## [Convert]::ToBase64String([System.Security.Cryptography.RandomNumberGenerator]::GetBytes(32))
MONGODB_URI=mongodb_connection_string_from_mongodb_atlas
PORT=3001